@charset "UTF-8";
MA/* CSS Document */

body{position:relative;
}
.usa_map{
    background-image: url(../image/map_usa.png);
    background-repeat: no-repeat;
    margin:0px auto;
    width: 2400px;
    height: 1345px;
    float:left;
    position:relative;
	}
.states {
    
}

.region1 {
    z-index:1;
    position:absolute;
 /*   right:57px; top:183px;*/
        left:1800px; top:183px;

    opacity:.7;
}
.region1:hover{
    cursor:pointer;
opacity:.5;    
}


.gregory_byrnes {
    width: 125px; height:auto;
    position:absolute;
    float:left;
    top:530px; left:2220px;
    border: 3px solid #dd35b8;
    display: none;
    background-color: white;
    z-index: 999;
}
.flipped{background-color: orange;}

.James_A_Gill {
    width:125px; height:auto;
    position:absolute;
    float:left;
    top:740px; left:2220px;
    border: 3px solid #dd35b8;
    display:none;
    background-color: white;
}

#card img {
    width: 125px; height:150px;
    position:absolute;
    float:left;
    top:530px; left:2220px;
    border: 3px solid #dd35b8;
/*    display: none;*/
    background-color: white;
}


}

.front {
    
}

#card {
    width:125px; height:150px;
    position:absolute;
    top:740px; left:2220px;
    border: 3px solid #dd35b8;
/*    display:none;*/
    background-color: white;
}

.zoom_samples {
    position:absolute; left:300px; top: 300px; font-size:5em; background color:red;
    height:50px;float:left;
}
