@charset "UTF-8";
MA/* CSS Document */

body{position:relative;
}
h6{ font-size: .9em; font-weight: 800; color: black; text-align: center;}
.usa_map{
    background-image: url(../image/map_usa.png);
    background-repeat: no-repeat;
    margin:0px auto;
    width: 2400px;
    height: 1345px;
    float:left;
    position:relative;
    z-index: 1;
	}
.states {
    
}

.region1 {
    z-index:1;
    position:absolute;
    left:1800px; top:183px;
    opacity:.5;
}
.region1:hover{
    cursor:pointer;
    opacity:.7;
    display:block;
}


.gregory_byrnes {
    width: 125px; height:auto;
    position:absolute;
    float:left;
    top:530px; left:2220px;
    border: 3px solid #dd35b8;
    display: none;
    background-color: white;
    z-index: 999;
}

.James_A_Gill {
    width:125px; height:auto;
    position:absolute;
    float:left;
    top:740px; left:2220px;
    border: 3px solid #dd35b8;
    display:none;
    background-color: white;
}

#card img {
    width: 125px; height:150px;
    position:absolute;
    float:left;
    top:530px; left:2220px;
    border: 3px solid #dd35b8;
/*    display: none;*/
    background-color: white;
}


}

.front {
}

#card {
    width:125px; height:150px;
    position:absolute;
    top:900px; left:2220px;
    border: 3px solid #dd35b8;
/*    display:none;*/
    background-color: white;
}

.zoom_samples {
    position:absolute; left:300px; top: 300px; font-size:2em; background height:auto; width:200px; float:left; color:darkblue;
}
.west_region{
    position:absolute; left:300px; top: 300px; font-size:2em; background height:auto; width:200px; color:darkblue;
}
.west_region:hover{
    
}

#region_titles {
    position:absolute;
    font-size:2em; 
    font weight:800; 
    text-align:center;
    float:left;
    top:250px; right:-100px;
    z-index:3; color:darkblue;
}

.zoom_samples:hover {
    cursor: pointer;
}
.invisible{display:none;}

.south_region {
    position:absolute; left:900px; top: 900px; font-size:2em; background height:auto; width:200px; float:left; color:darkblue;
}

.south_regional:hover {
    cursor: pointer;
}

.west_region {
    position:absolute;
    top:91px; left:38px; float:left;
    width:422px; height:auto;
    opacity:.5;
}

.west_region:hover {
    cursor:pointer;
    opacity:.7;
    display:block;
}

.south_regional:hover {
    cursor: pointer;
}

.south_region:hover {
    cursor: pointer;
}
#richard_scatoni {
      position: absolute;
      width: 154px;
      height: 200px;
      z-index: 2;
      top:20px; right:200px;
      perspective: 1000;
      padding:2px;
    display:block;
    }
    #f0_card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
    }
/*
    #f0_container:hover #f0_card {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;
    }
*/
    .face {
      position: absolute;
      width: 100%;
      height: auto;
      backface-visibility: hidden;
        text-align: center;
        line-height:1.2em;
      background-color: #aaa;
    }
    .face.back {
      display: block;
      transform: rotateY(180deg);
      box-sizing: border-box;
      padding: 10px;
      color: white;
      text-align: center;
      background-color: #aaa;
      overflow: hidden;
    padding-bottom: 20px;
    }
    /*  FIRST IMAGE CONTAINER  */
    #kim_fearNE {
        position: absolute;
        width: 134px;
        height: 200px;
        z-index: 2;
        top:100px; right:500px;
        perspective: 1000;
        display:none;
    }

    #f1_card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
    }
/*
    #kim_fearNE:hover #f1_card {
        transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;

    }
*/

    /*  SECOND IMAGE CONTAINER  */
      #greg_byrnesNE {
      position: absolute;
      width: 133px;
      height: 200px;
      z-index: 2;
      top:350px; right:0px;
      perspective: 1000;
      display:none;
    }
    #f2_card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
    }
/*
    #greg_byrnesNE:hover #f2_card {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;

    }  
*/
      #james_gillNE {
      position: absolute;
      width: 133px;
      height: 200px;
      z-index: 2;
      top:650px; right:0px;
      perspective: 1000;
      display:none;
          
    }
    #f3_card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
    }
/*
    #james_gillNE:hover #f3_card {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 5px #aaa;

    }  
*/
        .flip{
            transform: rotateY(180deg);
/*      box-shadow: -5px 5px 5px #aaa;*/
}
.north_east {
    z-index:2;
    position:absolute;
    right:56px; top:183px;
    opacity:.5;
    height:700px;
}
.north_east:hover{
    cursor:pointer;
    opacity:.7;
    display:block;
}

#Titles {
    position:absolute;
    font-size:2em; 
    font weight:800; 
    text-align:center;
    top:250px; left:200px;
    z-index:2; color:darkblue;
}

#ne {
    z-index:2;
    position:absolute;
    right:-100px; top:500px;
    opacity:0;
}


